__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.vscode/

docs/_build/
docs/gallery/
docs/sg_execution_times.rst

continuous_diff.png
image/gallery/*.png
!image/gallery/penguins_numerical_no_highlight.png
!image/gallery/shakespeare_box.png
!image/gallery/penguins_mixed_displays.png
!image/gallery/penguins_highlight.png
test_suite/.ipynb_checkpoints/
test_suite/test_plots/

# testing
same_scale_examples/
secret_data/
testing/